.sel-picture {
    width: 100px;
    cursor: pointer;
    margin: 10px;
    border: 4px double grey;
}

.sel-picture:hover {
    transform: scale(1.1);
}

.vgc-form .vgc-card #displayPic {
    width: 750px;
    height: 250px;
    margin-left: 20px;
    overflow: hidden;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
}

.vgc-form .vgc-card .pic {
    position: relative;
    max-width: 400px;
    width:100%;
    height:100%;
    object-fit: cover;
}

.vgc-form .vgc-card .pic span {
    position: absolute;
    bottom: 5px;
    right: 50px;
    color: #e2e3e5;
    font-size: 35px;
}

/*------------View Page Style---------*/
.vgc-card-view{
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-left: 20px;
    overflow: hidden;
    object-fit: cover;
    -webkit-box-shadow: 1px 5px 6px 0 black;
    box-shadow: 1px 5px 6px 0 black;
    border-radius: 22px;
}